<fieldset>
        <div class="wysiwyg-textarea-wrapper">
          <div class="textarea-wrapper">
            <textarea class="post-content-input" placeholder="Share your thoughts&hellip;" name="body" rows="5"></textarea>
          </div>
        </div>
      </fieldset>
      
      <fieldset class="tagging-interface">
        <ul class="tag-list"></ul>
        <input type="text" class="add-tag-typeahead" placeholder="Tag this post with a person&hellip;">
      </fieldset>
      
      <ul class="tagged-users"></ul>
      
      <fieldset class="hidden-fields">
        <input type="text" class="add-tag-typeahead" placeholder="Tag this post with a person&hellip;">
      </fieldset>
      
      <div class="button-bar">
        <a href="#" class="button add-tag">Add Tag</a>
        
        <input class="button post" type="submit" value="Post Comment">
      </div>