<div class="status-content">
    <div class="avatar extra-small">
        <% if (data.author.avatar_url != null) { %>
            <img src="<%= data.author.avatar_url %>" alt="">
        <% } else { %>
            <img src="/assets/lib/img/hp/avatars/150/opt-out-user.jpg" />
        <% } %>
    </div>
    <div class="source">
        <p class="relative-time"><abbr class="timeago" title="<%= data.created_at %>"><%= data.created_at %></abbr></p>
            <ul class="user-names">
                <li>
                    <a href="/profile/<%= data.author.id %>" class="user-name">
                        <span class="communicator-presence"> 
                        </span>
                        <%= data.author.name %>
                    </a>
                </li>     
            </ul>
        </div>

        <p class="status">
<!--                 <span class='snip-comment'></span>
                <span class='full-comment' style="display:none;"></span><br />
                <a href='#' class='view-all-comment'>More</a> -->
                <%= data.body %>
        </p>

        <div class="status-buttons">
            <div class="moderation">
                <a href="#" class="icon subcomment flag " data-id="">Flag</a>
                <a href="#" class="icon subcomment delete" data-id="">Delete</a>
            </div>
        </div>
    </div>


