 <div class="homepage-banner">

  <div class="container">
      <div class="slider homepage-slider">
        <a href="#" class="prev">Previous Slide</a>
        <a href="#" class="next">Next Slide</a>
        
        <div class="slides">
          <div class="slide-wrap">
              <li class="slide active" style="background-image: url('/assets/images/sliders/homepage/facesCarousel.jpg');">
                <div class="slide-contents">
                  <h1 class="slide-title"></h1>
                  <p class="slide-content">Content</p>
                    <a href="" class="button">Button</a>
                </div>
              </li>
              <li class="slide" style="background-image: url();">
                <div class="slide-contents">
                  <h1 class="slide-title">Title</h1>
                  <p class="slide-content">Content</p>
                    <a href="" class="button">Button</a>
                </div>
              </li>
          </div>
        </div>
        <ul class="dots">
            <li class="active" data-index="0">
              Slide 0
            </li>
             <li class="" data-index="1">
              Slide 1
            </li>
        </ul>
      </div>
    </div>
  </div> 