<!--<article class="status-update comment" data-id="<%= data.Id %>">-->
    <div class="content-bar"></div>
        <div class="status-content">     
            <div class="avatar small">
                <% if(data.author.avatar_url){ %>
                    <%= data.author.avatar_url %>
                <% } else{ %>
                    <img src="/assets/lib/img/hp/avatars/150/opt-out-user.jpg" />
                <% } %>              
            </div>
            <div class="source">
                <p class="relative-time"><abbr class="timeago" title="<%= data.created_at %>"><%= data.created_at %></abbr></p>
                <ul class="user-names">
                    <li class="commenter">
                        <% if (data.author.first_name) { %>
                            <a href="/profile/#" class="user-name"><%= data.author.first_name %>&nbsp;<%= data.author.last_name %></a>
                        <% } else { %>
                            <a href="<%= data.author_id %>" class="user-name"><%= data.author.name %></a>
                        <% } %>            
                     </li>
                </ul>
            </div>
            
            <p class="status">
                <%= data.body %> 
            </p>

            <ul class="tag-list">
    
            </ul>
            <div class="status-buttons">
                <a href="#" class="button like">Like</a>
                <a href="#like-people-modal" class="likePeopleModal" style="display:none;">
                    <span class="likeCount"></span>&nbsp;<span class="likePeople"></span>&nbsp;this
                </a>
                <div class="moderation">
                    <a href="#" class="icon hot-topic" title="Pin this">Pin</a>
                    <a href="#" class="icon delete" title="Delete this">Delete</a>
                </div>
            </div>
        </div>
 
        <ul class="status-comments subcomments">

        </ul>
        <footer class="status-footer">
            <form class="post-form post-comment-form" data-type="comment">
                <div class="wysiwyg-textarea-wrapper">
                    <div class="textarea-wrapper">
                        <textarea placeholder="Leave a comment&hellip;"></textarea>
                    </div>
                </div>
                <div class="button-bar"><a href="#" class="button subcomment post">Post Comment</a></div>
            </form>
        </footer>
<!--    </article>-->