<header class="platform-header profile-summary">
  <div class="container hide-phone">
    <div class="platform-header-avatar profile-avatar">
      <div class="avatar profile">
        <img src="/assets/lib/img/hp/avatars/150/kevin.jpg">
      </div>
    
      <div class="time-and-location">
        <time class="time-readout">10<span>:</span>22</time>
        <div class="period">
          <span class="am active">am</span>
          <span class="pm">pm</span>
        </div>
      
        <div class="location">Brooklyn, NY</div>
        <div class="timezone">GMT +5:30h</div>
      </div>
    </div>
  
    <div class="platform-header-details profile-details">
      <h1 class="profile-name">Kevin Bleich</h1>
      <h4 class="job-title">Technologist</h4>
      <p class="about-me">
        Greetings! I am a technologist, of the creative type. I love music, good television shows, and making the internets.
      </p>
    </div>
  
    <div class="platform-header-meta profile-contact">
      <ul class="contact-list">
        <li class="decorator-email"><a href="#">k.bleich@bigspaceship.com</a></li>
        <li class="decorator-phone"><a href="#">(206) 726-1972</a></li>
        <li class="decorator-website"><a href="#">www.kevinbleich.com</a></li>
        <li class="decorator-the-world"><a href="#">AIM: dmak78</a></li>
      </ul>

    
      <a style="display:none;" href="#" class="button subscribe">Subscribe</a>
    </div>
  </div>
  
  <div class="container slider phone-only profile-slider">
    <header class="profile-slider-header">
      <h1 class="profile-name">Kevin Bleich</h1>
      <h4 class="job-title">Technologist</h4>
    </header>
      
    <div class="slides">
      <div class="slide-wrap">
        <div class="slide-summary">
          <div class="avatar profile">
            <img src="lib/img/hp/avatars/150/kate.jpg">
          </div>
        
          <p class="about-me">
            Greetings! I am a technologist, of the creative type. I love music, good television shows, and making the internets.
          </p>
        </div>
      
        <div class="slide-contact">
          <strong>Current time and location:</strong>
          <div class="time-and-location">
            <time class="time-readout">10<span>:</span>22</time>
            <div class="period">
              <span class="am active">am</span>
              <span class="pm">pm</span>
            </div>

            <div class="location">Brooklyn, NY</div>
            <div class="timezone">GMT +5:30h</div>
          </div>
        
          <strong>Contact information:</strong>
          <ul class="contact-list">
            <li class="decorator-email"><a href="#">k.bleich@bigspaceship.com</a></li>
            <li class="decorator-phone"><a href="#">(206) 726-1972</a></li>
            <li class="decorator-website"><a href="#">www.kevinbleich.com</a></li>
            <li class="decorator-the-world"><a href="#">AIM: dmak78</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <ul class="dots">
      <li class="active" data-index="0">Summary</li>
      <li data-index="1">Contact</li>
    </ul>
    
    <div class="profile-slider-buttons">
      <a href="#" class="button subscribe">Subscribe</a>
      <a href="#" class="button show-about-page">About</a>
    </div>
  </div>
</header>