/** ----------------------------------

  Colors
  ------

  Style guide colors section.

---------------------------------- */
.style-guide-colors {
  
  .color-example {
    @include size(100%, 100px);
    
    display: block;
    color: white;
    line-height: 100px;
    text-align: center;
  }
  
  $colors: ('.primary', $primary) ('.secondary', $secondary)
           ('.tertiary', $tertiary) ('.lightblue', $lightblue)
           ('.midblue', $midblue) ('.lightgray', $lightgray)
           ('.darkgray', $darkgray);
  
  @each $color in $colors {
    #{nth($color, 1)} {
      @if (lightness(nth($color, 2)) > 50%) {
        color: black;
      }
      
      background-color: nth($color, 2);
    }
  }
}