
	<div class="homepage-banner">
  <div class="container">
    <div class="slider homepage-slider">
      <a href="#" class="prev">Previous Slide</a>
      <a href="#" class="next">Next Slide</a>
      
      <div class="slides">
        <div class="slide-wrap">
            <li class="slide active" style="background-image: url();">
              <div class="slide-contents">
                <h1 class="slide-title">Title</h1>
                <p class="slide-content">Content</p>
                  <a href="" class="button">Button</a>
              </div>
            </li>
        </div>
      </div>
      <ul class="dots">
          <li class="active" data-index="0">
            Slide 0
          </li>
      </ul>
    </div>
  </div>
</div>
<div class="platform-social-network">
	<section class="sidebars">
		<aside class="primary-sidebar" style="display:none;">
		</aside>
		<aside class="secondary-sidebar">
		</aside>
	</section>
	<section class="newsfeed" style="width:70%;">
		<form class="post-form post-status" data-type="status" name="post-to-wall">
		  <fieldset>
		    <div class="wysiwyg-textarea-wrapper">
		      <div class="textarea-wrapper">
		        <textarea class="post-content-input" placeholder="Share your thoughts&hellip;" name="body" rows="5"></textarea>
		      </div>
		    </div>
		  </fieldset>
		  
		  <fieldset class="tagging-interface">
		    <ul class="tag-list"></ul>
		    <input type="text" class="add-tag-typeahead" placeholder="Tag this post with a person&hellip;">
		  </fieldset>
		  
		  <ul class="tagged-users"></ul>
		  
		  <fieldset class="hidden-fields">
		    <input type="text" class="add-tag-typeahead" placeholder="Tag this post with a person&hellip;">
		  </fieldset>
		  
		  <div class="button-bar">
		    <a href="#" class="button add-tag">Add Tag</a>
		    
		    <input class="button post" type="submit" value="Post Comment">
		  </div>
		</form>
    
	    <nav class="newsfeed-tabs">
	      <ul class="nav nav-tabs">
	        <li class="active"><a href="#newsfeed-all" data-toggle="tab">All Activity</a></li>
	        <li><a href="#newsfeed-profile" data-toggle="tab">My Subscriptions</a></li>
	      </ul>
	    </nav>
	    
	    <div class="newsfeed-contents tab-content" style="display:block;">
	      <section class="tab-pane fade in active" id="newsfeed-all">
	          <img src="/assets/images/ajax-loader.gif" style="width:15px;height:15px;display:block;margin:0 auto;"/>
	      </section>
	      
	      <section class="tab-pane fade" id="newsfeed-profile">
	          <img src="/assets/images/ajax-loader.gif" style="width:15px;height:15px;display:block;margin:0 auto;"/>
	      </section>
	      
	      <div class="newsfeed-more">
	        <a href="#" class="button misc">More</a>
	      </div>
	    </div>
	</section>
</div>

