/** ----------------------------------

  Edit Album
  ----------

  Edit album page.

---------------------------------- */
.page-edit-album {
  
}

.manage-photos {
  margin-top: 50px;
  
  /*
    Photo list.
  */
  .photo-list {
    @extend %sectioned-list;
    
    li {
      @extend %clearfix;
      
      display: block;
      padding: 20px 0;
      
      &:first-child {
        border-top: 0;
      }
    }
  }
  
  /*
    Individual photo preview.
  */
  .photo-preview {
    @include mobile {
      float: none;
      width: auto;
      margin: 10px 0;
    }
    
    float: left;
    width: 25%;
    
    .button {
      margin-top: 10px;
    }
  }
  
  /*
    Photo details form elements.
  */
  .photo-details {
    @include mobile {
      float: none;
      width: auto;
      margin: 10px 0;
    }
    
    float: left;
    width: 75%;
    
    .photo-title {
      margin-bottom: 20px;
    }
  }
}