/** ----------------------------------

  Header
  ------

  Platform header.

---------------------------------- */
/*
  Platform header.
  
  Generic header element for platform sections, as seen on the 
  Home, Group, and Profile pages.
*/
.platform-header {
  @include pie-clearfix;
  @include box-shadow(inset 0 -1px 0 0 white, inset 0 -5px 15px 0 rgba(black, .04));
  
  margin-bottom: 30px;
  padding: 50px 0;
  background: $lightblue inline-image('textures/profile-header-texture.png');
  border-bottom: 1px solid $lightblue;
  
  .platform-header-avatar {
    @include span-columns(1);
    @include phone {
      @include reset-columns;
      
      display: block;
      margin: 10px 0;
    }
  }
  
  .platform-header-details {
    @include span-columns(2);
    @include phone {
      @include reset-columns;
      
      display: block;
      margin: 10px 0;
    }
  }
  
  .platform-header-meta {
    @include span-columns(1 omega);
    position: absolute;
    right: 0;
    bottom: -25px;
    
    @include phone {
      @include reset-columns;
      
      display: block;
      margin: 10px 0;
    }
  }
}