/** ----------------------------------

  View Single Comment
  -------------------

  View single comment page layout.

---------------------------------- */
.page-view-single-comment {
  .newsfeed {
    float: none;
    display: block;
    margin: 0 auto 50px;
  }
}