/*!
  
  OneHP
  
  Author: Brian McAllister for Big Spaceship • http://brianmcallister.com
  
*/
@import "compass";
@import "susy";

/*
  Normalize.
*/
@import "third-party/normalize";

/*
  Sprites.
  
  See _extendables.scss and _mixins.scss for sprite specific helpers.
*/
/* Sprite config. */
$type: smart;

/* Sprite import. */
$logo-sprite: sprite-map("logos/*.png", $layout: "vertical");
$logo-2x-sprite: sprite-map("logos-2x/*.png", $layout: "vertical");
$icon-sprite: sprite-map("icons/*.png", $layout: $type);
$icon-2x-sprite: sprite-map("icons-2x/*.png", $layout: $type);

$general-sprite: sprite-map("general/*.png",
  $general-slide-next-spacing: 5px,
  $layout: "vertical");
  
$general-2x-sprite: sprite-map("general-2x/*.png",
  $general-2x-slide-next-spacing: 5px,
  $layout: "vertical");

$stories-sprite: sprite-map("stories/*.png", $layout: $type);
$stories-2x-sprite: sprite-map("stories-2x/*.png", $layout: $type);
$stories-large-sprite: sprite-map("stories-large/*.png", $layout: $type);
$stories-large-2x-sprite: sprite-map("stories-large-2x/*.png", $layout: $type);

$slider-dots-sprite: sprite-map("slider-dots/*.png", $layout: $type);
$slider-dots-2x-sprite: sprite-map("slider-dots-2x/*.png", $layout: $type);

/*
  Theme files.
*/
@import "variables";
@import "mixins";
@import "extendables";
@import "functions";

/*
  Third-party CSS.
*/

/*
  Modules.
*/
/* Imports. */
@import "modules/type/type";
@import "modules/links/links";
@import "modules/forms/forms";
@import "modules/menus/menus";
@import "modules/buttons/buttons";
@import "modules/tags/tags";
@import "modules/icons/icons";
@import "modules/tables/tables";
@import "modules/lists/lists";
@import "modules/avatars/avatars";
@import "modules/widgets/widgets";
@import "modules/sliders/sliders";
@import "modules/modals/modals";
@import "modules/story-blocks/story-blocks";

/* Module includes. */
@include type;
@include links;
@include forms;
@include menus;
@include buttons;
@include tags; 
@include icons;
@include tables;
@include lists;
@include avatars;
@include widgets;
@include sliders;
@include modals;
@include story-blocks;

/*
  Layouts.
*/
/* Global layouts. */
@import "layouts/website";
@import "layouts/global/global";

/* Component layouts. */
@import "layouts/components/components";

/* Styleguide. */
@import "layouts/style-guide/style-guide";

/* Platform. */
@import "layouts/platform/platform";

/* Stories. */
@import "layouts/stories/stories";